.globeContainer {
    /* margin: 0; */
    position: relative;
    overflow: hidden;
}

.globe {
    cursor: move;
    top: 0;
    left: 0;
    position: absolute;
    /* background: #fff; */
}

.operation {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.globesvg {
    cursor: move;
    position: absolute;
    top: 0;
    /* bottom: 0; */
    left: 0;
    /* right: 0; */
    pointer-events: none;
    /* background: #fff4; */
}